.chat-main
  .chat-main__header
    .chat-main__header__left-box
      %h2.chat-main__header__left-box__current-group
        = @group.name
      %ul.chat-main__header__left-box__member
        Member:
        %li.chat-main__header__left-box__member__list
          - @group.users.each do |user|
            = user.name
    .chat-main__header__edit-group
      = link_to edit_group_path(@group.id) do
        Edit

  .chat-main__messages
    = render @messages

  .chat-main__message-form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .chat-main__message-form__mask
        = f.label :image, class: 'form__mask__image' do
          =icon('fa', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'